/*
Foundation CSS download with the following customizations:

Primary color: #999
Max-Width: 75 em
*/


#navigation {
  height: 80px;
  background: #ddd;
}
#navlist .columns {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
.navlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.navlist ul li {
  display: inline;
  padding: 0 25px;
}
.navlist ul li  i {
  margin-right: 10px;
}

#home-header .header {
  background: #666;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
#photography-header .header {
  background: #666;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header h1 {
  font-size: 72px;
  line-height: 1;
  margin-bottom: 0;
  color: #fff;
}
.header h3 {
  color: gold;
}

#reel {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #000;
  color: #fff;
  text-align: center;
}
#reel a {
  color: #fff;
  padding: 15px 25px;
  border: 1px solid #fff;
}
#reel a:hover {
  background: #666;
}
#reel video {
  width: 90%    !important;
  height: auto   !important;
}

#frozen {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #fff url("../assets/img/border666down.png") repeat-x top;
}
.frozen-owl-carousel img {
  display: block;
  width: 100%;
  height: auto;
}
#frozen h3 {
  color: #999;
  margin-bottom: 20px;
}

#effects {
  background: #666;
  padding-top: 60px;
  padding-bottom: 90px;
}
#effects h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
}
#effects .title {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #333;
  color: #ccc;
  font-size: 24px;
  font-family: 'Clear Sans', sans-serif;
}

#photography {
  background: #ccc;
  padding-top: 60px;
  padding-bottom: 90px;
}
#photography .title {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #999;
  color: #333;
  font-size: 24px;
  font-family: 'Clear Sans', sans-serif;
}
#photography.photography-category h2 {
  margin-bottom: 5px;
}
#photography.photography-category h3 {
  margin-top: 0;
  margin-bottom: 40px;
}
#photography.photography-category {
  padding-bottom: 250px;
}
.photography-category img {
  margin-bottom: 10px;
}
#photography h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
#photography h3 {
  color: #999;
  margin-top: 20px;
}
#about {
  padding-top: 60px;
  padding-bottom: 90px;
  text-align: left;
  background: #fff;
}
#about h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center
}
#about h3 {
  color: #999;
}
#about img.disney {
  margin-top: 15px;
}
#about img.superfad {
  margin-top: 50px;
}
#about img.scad {
  margin-top: 35px;
}
#about img.nyu {
  margin-top: 45px;
}
#about .medium-4 {

}
#about .medium-8 {

}
#about a {
  color: red;
}
#about a:hover {
  color: red;
}
#about a.social {
  color: #222;
  font-size: 48px;
  margin-right: 10px;
}

body {
  text-align: center;
  background: #ccc;
}
.category {
  font-size: 18px;
  margin-top: -50px;
  color: #fff;
  font-family: 'Clear Sans', sans-serif;
  font-weight: normal;
}
img {
  display: block;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4 {
  font-family: 'Clear Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* min-width 641px and max-width 1024px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #reel video {
    width: 70%    !important;
    height: auto   !important;
  }

}

/*min-width 1025px and max-width 1440px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  #reel video {
    width: 50%    !important;
    height: auto   !important;
  }

}

/*min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) {

  .category {
    font-size: 32px;
    margin-top: -70px;
    font-weight: bold;
  }
  #reel video {
    width: 40%    !important;
    height: auto   !important;
  }

}
