<div id="about" data-magellan-destination="about">
  <h2>About</h2>
  <div class="row">
    <div class="medium-4 columns"><img src="assets/img/kyle.jpg"></div>
    <div class="medium-8 columns">
      <h3>Work History</h3>
      <hr>
      <div class="row">
        <div class="medium-6 columns">
          2013-2014<br><br>
          <b>WALT DISNEY ANIMATION STUDIOS</b><br>
          Burbank, California<br><br>
          Lighting artist assistant: <em>Big Hero 6</em><br>
          Lighting artist apprentice: <em>Frozen</em>
        </div>
        <div class="medium-6 columns">
          <img class='disney' src='assets/img/disney-logo-small.png'>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="medium-6 columns">
          2012 (Summer)<br><br>
          <b>SUPERFAD</b><br>
          Seattle, Washington<br><br>
          3D generalist intern.<br><br>
          Worked on projects for Nike, Xfinity Comcast, Fox Sports, Aleve, and Auto Trader.
        </div>
        <div class="medium-6 columns">
          <img class='superfad' src='assets/img/superfad.jpg'>
        </div>
      </div>
      <hr>
      <h3>Education</h3>
      <hr>
      <div class="row">
        <div class="medium-6 columns">
          2009-2012<br><br>
          <b>SAVANNAH COLLEGE OR ART AND DESIGN</b><br>
          Savannah, Georgia<br><br>
          Bachelor of Arts - Visual Effects
        </div>
        <div class="medium-6 columns">
          <img class='scad' src='assets/img/scad_logo.jpg'>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="medium-6 columns">
          2008-2009<br><br>
          <b>NEW YORK UNIVERSITY</b><br>
          New York, New York<br><br>
          Film studies program
        </div>
        <div class="medium-6 columns">
          <img class='nyu' src='assets/img/NYU_logo.png'>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
