<div id="about" data-magellan-destination="about">
  <h2>About</h2>
  <div class="row">
    <div class="medium-4 columns"><img src="assets/img/kyle.jpg"></div>
    <div class="medium-8 columns">
      <p>I'm currently a Lighting Technical Director at
        <a href="http://www.imageworks.com/" target="_blank">Sony Pictures Imageworks</a>,
        where I'm working on <em>The Angry Birds Movie</em>.<br><br>
        Past projects include <em>Rock Dog</em> at
        <a href="http://www.reelfx.com/" target="_blank">Reel FX</a>,
        <em>Avengers: Age of Ultron</em>,
        <em>Terminator Genisys</em>,
        <em>Night at the Museum: Secret of the Tomb</em>, and
        <em>Selma</em> for
        <a href="http://www.lolavfx.com/#/" target="_blank">Lola VFX</a>,
        and <em>Frozen</em> and <em>Big Hero 6</em> at
        <a href="http://www.disneyanimation.com/" target="_blank">Walt Disney Animation Studios</a>.
        <br><br>
        During college,
        I interned at Superfad in Seattle and
        <a href="http://www.glasshouseassignment.com/" target="_blank">Glasshouse Assignment</a>
        in New York City.  My education includes film studies at New York University, and
        I graduated from
        Savannah College of Art and Design with a Bachelor of Fine Arts degree
        in Visual Effects.
      </p>
      <hr>
      <h3>SKILLS</h3>
      <ul>
        <li>Lighting</li>
        <li>Look Development</li>
        <li>Compositing</li>
        <li>Surfacing</li>
        <li>Texture Painting</li>
        <li>Photography</li>
      </ul>
      <hr>
      <h3>SOFTWARE EXPERIENCE</h3>
      <ul>
        <li>Arnold</li>
        <li>Katana</i>
        <li>Nuke</li>
        <li>Maya</li>
        <li>Mental Ray</li>
        <li>RenderMan</li>
        <li>Adobe Creative Suite</li>
        <li>Mudbox</li>
        <li>ZBrush</li>
        <li>Houdini</li>
        <li>V-Ray</li>
        <li>MARI</li>
        <li>3ds Max</li>
      </ul>
      <hr>
      <h3>SOCIAL NETWORKS</h3>
      <a class="social" href="http://www.linkedin.com/profile/view?id=211289728" target="_blank"><i class="fi-social-linkedin"></i></a>
      <a class="social" href="http://vimeo.com/kylehumphrey" target="_blank"><i class="fi-social-vimeo"></i></a>
    </div>
  </div>
</div>
