<div id="effects" data-magellan-destination="effects">
  <h2>Visual Effects</h2>
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <li>
        <div>
          <a href="#" data-reveal-id="videoModal"><img src="assets/img/effects/ruin.png"></a>
        </div>
        <div class="title">RUIN</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="demo2013Modal"><img src="assets/img/effects/demo2013.png"></a>
        </div>
        <div class="title">2013 DEMO REEL</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="hennessyModal"><img src="assets/img/effects/hennessy.png"></a>
        </div>
        <div class="title">HENNESSY</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="demo2012Modal"><img src="assets/img/effects/demo2012.png"></a>
        </div>
        <div class="title">2012 DEMO REEL</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="buildingModal"><img src="assets/img/effects/historic-building.png"></a>
        </div>
        <div class="title">HISTORIC BUILDING</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="parliamentModal"><img src="assets/img/effects/parliament.png"></a>
        </div>
        <div class="title">PARLIAMENT</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="r2d2Modal"><img src="assets/img/effects/r2d2.png"></a>
        </div>
        <div class="title">R2D2</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="tennisModal"><img src="assets/img/effects/tennis.png"></a>
        </div>
        <div class="title">TENNIS BALL</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="berriesModal"><img src="assets/img/effects/berries.png"></a>
        </div>
        <div class="title">STRAWBERRIES</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="rslModal"><img src="assets/img/effects/rsl.png"></a>
        </div>
        <div class="title">RSL</div>
      </li>
      <li>
        <div>
          <a href="#" data-reveal-id="filmModal"><img src="assets/img/effects/film.png"></a>
        </div>
        <div class="title">FILM ROLL</div>
      </li>
   </ul>
  </div>
</div>

<div id="videoModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/60599570?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Ruin</h2>
  <p>Personal project</p>
  <p>Winter 2013</p>
  <ul"><li>This is the first project I created using 3ds Max.</li>
    <li>I am responsible for all aspects of this project.</li>
    <li>Rendered with V-Ray on a single computer with an i7-930 2.8GHz quad core processor.</li>
    <li>Foliage generated with SpeedTree.</li>
    <li>Proxies handled through MultiScatter.</li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="demo2013Modal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/51880561?title=0&amp;byline=0&amp;portrait=0" 
            width="1008" height="567" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Demo Reel</h2>
  <p>Winter 2013</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="hennessyModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/38597575?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Hennessy Cognac</h2>
  <p>Student project</p>
  <p>Spring 2012</p>
  <ul><li>I am responsible for all aspects of this project. 
    </li><li>The entire environment is computer generated.  
    </li><li>The vines were created with Maya, mental ray, Nuke, Photoshop, 
      XforgPlants, and E-on Vue.
    </li><li>The vines were made with XfrogPlants, and the textures and shaders were then
      replaced.  
    </li><li>The heavy geometry was handled by writing out a mental ray
      proxy for repeating the vines.  The proxy was only loaded at render time.
    </li><li>The hills and sky in the background
      are a matte painting created in E-on Vue.  
    </li><li>The cellar was created
      using Maya, mental ray, Nuke, Photoshop and After Effects. 
    </li><li>The distillery was created using Maya, Nuke,
      Photoshop and After Effects.
    </li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="demo2012Modal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/37368997?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Demo Reel</h2>
  <p>Winter 2012</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="buildingModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35501988?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Historic Building</h2>
  <p>Student project</p>
  <p>Autumn 2011</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="parliamentModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35475880?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Parliament</h2>
  <p>Student project</p>
  <p>Autumn 2011</p>
  <ul><li>This is an exercise in procedural modeling which was done using Houdini.</li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="r2d2Modal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35477022?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>R2D2</h2>
  <p>Student project</p>
  <p>Spring 2011</p>
  <ul><li>This is an example of match moving.</li>
    <li>I am responsible for all aspects of this project.</li>
    <li>Created with Maya, mental ray, boujou, Nuke, Photoshop, and a
      Canon t2i camera.</li>
    <li>I used boujou to track the panning background
      plate.</li>
    <li>Compositing was done using RGB lighting to control the
      intesnsity of the key, sky, and fill lights.</li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="tennisModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35477384?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Tennis ball</h2>
  <p>Student project</p>
  <p>Spring 2011</p>
  <ul><li>CG integration to a plate.</li>
    <li>Texturing done using Maya, Fur, and mental ray.</li></ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="berriesModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35476995?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Strawberries</h2>
  <p>Student project</p>
  <p>Spring 2011</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="rslModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35750645?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>RSL Spheres</h2>
  <p>Student project</p>
  <p>Winter 2011</p>
  <ul><li>Created with Renderman Shading Language.</li></ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="filmModal" class="reveal-modal large text-left" data-reveal>
  <div class="flex-video">
    <iframe id="reel"src="http://player.vimeo.com/video/35476951?title=0&amp;byline=0&amp;portrait=0" 
            width="937" height="527" frameborder="0" 
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  </div>
  <h2>Film roll</h2>
  <p>Student project</p>
  <p>Autumn 2010</p>
  <a class="close-reveal-modal">&#215;</a>
</div>