<div id="frozen">
  <div class="row">
    <img class="center frozen-logo" src="../assets/img/frozen/frozen_logo.png" alt="Frozen logo" />
  </div>
  <div class="row">
    <h3>LIGHTING APPRENTICE</h3>
  </div>
  <div class="row">
    <div class="frozen-owl-carousel">
      <div>
        <img src="../assets/img/frozen/frozen1.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen2.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen3.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen4.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen5.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen6.png" alt="Frozen still" />
      </div>

      <div>
        <img src="../assets/img/frozen/frozen7.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen8.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen9.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen10.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen11.png" alt="Frozen still" />
      </div>
      <div>
        <img src="../assets/img/frozen/frozen12.png" alt="Frozen still" />
      </div>
    </div>
  </div>
</div>