
<div class="navigation" data-magellan-expedition="fixed">
  <div class="row text-center">
    <dl class="sub-nav">
      <dd data-magellan-arrival="home">
        <a href="/#">HOME</a>
      </dd>
      <dd data-magellan-arrival="effects">
        <a href="/#effects">EFFECTS</a>
      </dd>
      <dd data-magellan-arrival="photography">
        <a href="/#photography">PHOTOGRAPHY</a>
      </dd>
      <dd data-magellan-arrival="about">
        <a href="/#about">ABOUT</a>
      </dd>
    </dl>
  </div>
</div>