<!-- NAVIGATION -->


		<div class="navigation" data-magellan-expedition="fixed">

			<div class="row">

				<div class="navlist columns">

				<ul>

						<li class="" data-magellan-arrival="home"><a href="/#"><i class="fi-home"></i>Home</a></li>

						<li class="" data-magellan-arrival="reel"><a href="/#reel"><i class="fi-asterisk"></i>Reel</a></li>

						<li class="" data-magellan-arrival="effects"><a href="/#effects"><i class="fi-video"></i>Visual Effects</a></li>

						<li class="" data-magellan-arrival="photography"><a href="/#photography"><i class="fi-camera"></i>Photography</a></li>

						<li class="" data-magellan-arrival="about"><a href="/#about"><i class="fi-torso"></i>About</a></li>

				</ul>

				</div>

			</div> <!-- .row -->

		</div> <!-- .navigation -->
