<div id="photography" data-magellan-destination="photography">
  <h2>Photography</h2>
  <div class="row">
    <ul class="medium-block-grid-2 large-block-grid-3">
      <li>
        <div>
          <a href="/photography/landscapes.html"><img src="assets/img/photography/progressive/landscapes.jpg"></a>
        </div>
        <div class="title">LANDSCAPES</div>
      </li>
      <li>
        <div>
          <a href="/photography/portraits.html"><img src="assets/img/photography/progressive/men.jpg"></a>
        </div>
        <div class="title">PORTRAITS</div>
      </li>
      <li>
        <div>
          <a href="/photography/france.html"><img src="assets/img/photography/progressive/france.jpg"></a>
        </div>
        <div class="title">FRANCE</div>
      </li>
      <li>
        <div>
          <a href="/photography/fivepoints.html"><img src="assets/img/photography/progressive/fivepoints.jpg"></a>
        </div>
        <div class="title">FIVE POINTS</div>
      </li>
      <li>
        <div>
          <a href="/photography/newyorkcity.html"><img src="assets/img/photography/progressive/newyorkcity.jpg"></a>
        </div>
        <div class="title">NEW YORK CITY</div>
      </li>
      <li>
        <div>
          <a href="/photography/claypeople.html"><img src="assets/img/photography/progressive/claypeople.jpg"></a>
        </div>
        <div class="title">CLAY PEOPLE</div>
      </li>
      <li>
        <div>
          <a href="/photography/blues.html"><img src="assets/img/photography/progressive/blues.jpg"></a>
        </div>
        <div class="title">BLUES</div>
      </li>
      <li>
        <div>
          <a href="/photography/trey.html"><img src="assets/img/photography/progressive/trey.jpg"></a>
        </div>
        <div class="title">TREY</div>
      </li>
      <li>
        <div>
          <a href="/photography/street.html"><img src="assets/img/photography/progressive/street.jpg"></a>
        </div>
        <div class="title">MISC.</div>
      </li>
      <li>
        <div>
          <a href="/photography/all.html"><img src="assets/img/photography/progressive/all.jpg"></a>
        </div>
        <div class="title">ALL</div>
      </li>
    </ul>
  </div>
</div>
