<h3>YYYYY</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Women</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Women</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/ZZZZZ/XXXXX.jpg"><img src="../assets/img/photography/ZZZZZ/XXXXXThumb.jpg"></a></li>
    </ul>
  </div>
