<div id="photography">
  <h2>Photography</h2>
  <h3>Women</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li><a href="../assets/img/photography/portraits/Ev2ark.jpg"><img src="../assets/img/photography/portraits/EvDarkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Ev2Dark.jpg"><img src="../assets/img/photography/portraits/Ev2DarkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/jessieDipt.jpg"><img src="../assets/img/photography/portraits/jessieDiptThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/jessie1.jpg"><img src="../assets/img/photography/blues/jessie1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/jnightsit.jpg"><img src="../assets/img/photography/blues/jnightsitThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/blue.jpg"><img src="../assets/img/photography/purples/blueThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/bluegirl1.jpg"><img src="../assets/img/photography/purples/bluegirl1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/megan1.jpg"><img src="../assets/img/photography/blues/megan1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/megansink.jpg"><img src="../assets/img/photography/blues/megansinkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/sink2.jpg"><img src="../assets/img/photography/blues/sink2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/purple.jpg"><img src="../assets/img/photography/purples/purpleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/blueladie3.jpg"><img src="../assets/img/photography/purples/blueladie3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Grandma.jpg"><img src="../assets/img/photography/portraits/GrandmaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/mob2/Mob5.jpg"><img src="../assets/img/photography/mob2/Mob5Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Muse.jpg"><img src="../assets/img/photography/portraits/MuseThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Anushka.jpg"><img src="../assets/img/photography/portraits/AnushkaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Hanna.jpg"><img src="../assets/img/photography/portraits/HannaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Hanna3.jpg"><img src="../assets/img/photography/portraits/Hanna3Thumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Men</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li><a href="../assets/img/photography/savannah/fONZ1.jpg"><img src="../assets/img/photography/savannah/fONZ1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Ted.jpg"><img src="../assets/img/photography/savannah/TedThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Alex1.jpg"><img src="../assets/img/photography/savannah/Alex1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Alex2.jpg"><img src="../assets/img/photography/savannah/Alex2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Ben1.jpg"><img src="../assets/img/photography/savannah/Ben1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Ben2.jpg"><img src="../assets/img/photography/savannah/Ben2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Tatoo.jpg"><img src="../assets/img/photography/savannah/TatooThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Paul.jpg"><img src="../assets/img/photography/savannah/PaulThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/ThirdCircle.jpg"><img src="../assets/img/photography/portraits/ThirdCircleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Harmony.jpg"><img src="../assets/img/photography/portraits/HarmonyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Discordant.jpg"><img src="../assets/img/photography/portraits/DiscordantThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Calvin.jpg"><img src="../assets/img/photography/portraits/CalvinThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Nate.jpg"><img src="../assets/img/photography/portraits/NateThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Matt.jpg"><img src="../assets/img/photography/portraits/MattThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Matt2.jpg"><img src="../assets/img/photography/portraits/Matt2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Thomas2.jpg"><img src="../assets/img/photography/portraits/Thomas2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Trey1.jpg"><img src="../assets/img/photography/portraits/Trey1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Trey2.jpg"><img src="../assets/img/photography/portraits/Trey2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Luis2.jpg"><img src="../assets/img/photography/portraits/Luis2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Pablo.jpg"><img src="../assets/img/photography/portraits/PabloThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Jester.jpg"><img src="../assets/img/photography/portraits/JesterThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Marsh.jpg"><img src="../assets/img/photography/portraits/MarshThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Luis.jpg"><img src="../assets/img/photography/portraits/LuisThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Kyle.jpg"><img src="../assets/img/photography/portraits/KyleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Gramm.jpg"><img src="../assets/img/photography/portraits/GrammThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Ghost.jpg"><img src="../assets/img/photography/portraits/GhostThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Henry.jpg"><img src="../assets/img/photography/portraits/HenryThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Thomas.jpg"><img src="../assets/img/photography/portraits/ThomasThumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Landscapes</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li><a href="../assets/img/photography/landscapes/FlowersandLacoste3.jpg"><img src="../assets/img/photography/landscapes/FlowersandLacoste3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/EmptyfieldintheRainFinal.jpg"><img src="../assets/img/photography/landscapes/EmptyfieldintheRainFinalThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/AbreakintheRain3.jpg"><img src="../assets/img/photography/landscapes/AbreakintheRain3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/AViewfromLacoste2.jpg"><img src="../assets/img/photography/landscapes/AViewfromLacoste2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Thepond2.jpg"><img src="../assets/img/photography/landscapes/Thepond2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Thewalkway.jpg"><img src="../assets/img/photography/landscapes/ThewalkwayThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/paththroughtheland.jpg"><img src="../assets/img/photography/landscapes/paththroughthelandThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/TableRock.jpg"><img src="../assets/img/photography/landscapes/TableRockThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/BatteryBuchanan.jpg"><img src="../assets/img/photography/landscapes/BatteryBuchananThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/WashingtonLake.jpg"><img src="../assets/img/photography/landscapes/WashingtonLakeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Seattle.jpg"><img src="../assets/img/photography/landscapes/SeattleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/FortFisher3.jpg"><img src="../assets/img/photography/landscapes/FortFisher3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/WallStreet.jpg"><img src="../assets/img/photography/landscapes/WallStreetThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Two%20Bridges.jpg"><img src="../assets/img/photography/landscapes/Two%20BridgesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Pleasant Oaks2.jpg"><img src="../assets/img/photography/landscapes/Pleasant Oaks2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Hudson%20River.jpg"><img src="../assets/img/photography/landscapes/Hudson%20RiverThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Hoboken.jpg"><img src="../assets/img/photography/landscapes/HobokenThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/HudsonSunset.jpg"><img src="../assets/img/photography/landscapes/HudsonSunsetThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Warehouse.jpg"><img src="../assets/img/photography/landscapes/WarehouseThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/Tresswithmoon.jpg"><img src="../assets/img/photography/landscapes/TresswithmoonThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/BlueRidge4.jpg"><img src="../assets/img/photography/landscapes/BlueRidge4Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/BlueRidge3.jpg"><img src="../assets/img/photography/landscapes/BlueRidge3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/BlueRidge2.jpg"><img src="../assets/img/photography/landscapes/BlueRidge2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/BlueRidge1.jpg"><img src="../assets/img/photography/landscapes/BlueRidge1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/FortFisher2.jpg"><img src="../assets/img/photography/landscapes/FortFisher2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/CapeFearMemorial.jpg"><img src="../assets/img/photography/landscapes/CapeFearMemorialThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/FortFisher5.jpg"><img src="../assets/img/photography/landscapes/FortFisher5Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/landscapes/CarolinaBeach.jpg"><img src="../assets/img/photography/landscapes/CarolinaBeachThumb.jpg"></a></li>
    </ul>
  </div>
  <h3>France</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li><a href="../assets/img/photography/france/topofMonmart.jpg"><img src="../assets/img/photography/france/topofMonmartThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/OldLamp.jpg"><img src="../assets/img/photography/france/OldLampThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/ImZeus.jpg"><img src="../assets/img/photography/france/ImZeusThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/boatingarden.jpg"><img src="../assets/img/photography/france/boatingardenThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IntheLouve.jpg"><img src="../assets/img/photography/france/IntheLouveThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/doorinavillage.jpg"><img src="../assets/img/photography/france/doorinavillageThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/robinasafawn.jpg"><img src="../assets/img/photography/france/robinasafawnThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/allison.jpg"><img src="../assets/img/photography/france/allisonThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/mitchelleawlayscomesoutblurry.jpg"><img src="../assets/img/photography/france/mitchelleawlayscomesoutblurryThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/FrancisPointJulien.jpg"><img src="../assets/img/photography/france/FrancisPointJulienThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/thisguy.jpg"><img src="../assets/img/photography/france/thisguyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Mitchelle and Orange Cat.jpg"><img src="../assets/img/photography/france/Mitchelle and Orange CatThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Thisladylookingatme.jpg"><img src="../assets/img/photography/france/ThisladylookingatmeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/whererobingotgyped.jpg"><img src="../assets/img/photography/france/whererobingotgypedThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/ChrisRunningBulls.jpg"><img src="../assets/img/photography/france/ChrisRunningBullsThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/thiswoman.jpg"><img src="../assets/img/photography/france/thiswomanThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Ladywithflowers.jpg"><img src="../assets/img/photography/france/LadywithflowersThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/threefaces.jpg"><img src="../assets/img/photography/france/threefacesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Lavander.jpg"><img src="../assets/img/photography/france/LavanderThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Rooster.jpg"><img src="../assets/img/photography/france/RoosterThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Baskets2.jpg"><img src="../assets/img/photography/france/Baskets2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/eggs.jpg"><img src="../assets/img/photography/france/eggsThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Marbles.jpg"><img src="../assets/img/photography/france/MarblesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/basketsandbags.jpg"><img src="../assets/img/photography/france/basketsandbagsThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/EndoflouveGardens.jpg"><img src="../assets/img/photography/france/EndoflouveGardensThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/notredame.jpg"><img src="../assets/img/photography/france/notredameThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/creamatory.jpg"><img src="../assets/img/photography/france/creamatoryThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/lightbyO.jpg"><img src="../assets/img/photography/france/lightbyOThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/doginParisWithchurch.jpg"><img src="../assets/img/photography/france/doginParisWithchurchThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/GoldonYourRoof.jpg"><img src="../assets/img/photography/france/GoldonYourRoofThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8570.jpg"><img src="../assets/img/photography/france/IMG_8570Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/ColorLacoste1.jpg"><img src="../assets/img/photography/france/ColorLacoste1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/CUPS.jpg"><img src="../assets/img/photography/france/CUPSThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Telaphone.jpg"><img src="../assets/img/photography/france/TelaphoneThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/FireH.jpg"><img src="../assets/img/photography/france/FireHThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/letsliveinthisblurrybunker.jpg"><img src="../assets/img/photography/france/letsliveinthisblurrybunkerThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/flowerfield.jpg"><img src="../assets/img/photography/france/flowerfieldThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/shirehome.jpg"><img src="../assets/img/photography/france/shirehomeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Theflwoerpickers.jpg"><img src="../assets/img/photography/france/TheflwoerpickersThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/ShireTrees.jpg"><img src="../assets/img/photography/france/ShireTreesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/greengreentree.jpg"><img src="../assets/img/photography/france/greengreentreeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/akindanicescene.jpg"><img src="../assets/img/photography/france/akindanicesceneThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/AsecondviewfromGordes.jpg"><img src="../assets/img/photography/france/AsecondviewfromGordesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/AviewfromGordes.jpg"><img src="../assets/img/photography/france/AviewfromGordesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/topoflastvillage.jpg"><img src="../assets/img/photography/france/topoflastvillageThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/topofLV.jpg"><img src="../assets/img/photography/france/topofLVThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/PalledePope.jpg"><img src="../assets/img/photography/france/PalledePopeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/prettypretty.jpg"><img src="../assets/img/photography/france/prettyprettyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Graveyard.jpg"><img src="../assets/img/photography/france/GraveyardThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/graveyard1.jpg"><img src="../assets/img/photography/france/graveyard1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/LargeMossoleum.jpg"><img src="../assets/img/photography/france/LargeMossoleumThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/archtriatglenum.jpg"><img src="../assets/img/photography/france/archtriatglenumThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/churchinLT.jpg"><img src="../assets/img/photography/france/churchinLTThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8588.jpg"><img src="../assets/img/photography/france/IMG_8588Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/roofdepope.jpg"><img src="../assets/img/photography/france/roofdepopeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/TrainsinChinaTown.jpg"><img src="../assets/img/photography/france/TrainsinChinaTownThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/trees.jpg"><img src="../assets/img/photography/france/treesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/BigD.jpg"><img src="../assets/img/photography/france/BigDThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/gettingoutofhere.jpg"><img src="../assets/img/photography/france/gettingoutofhereThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/goinghome.jpg"><img src="../assets/img/photography/france/goinghomeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/trainstation.jpg"><img src="../assets/img/photography/france/trainstationThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/blueinlasttown.jpg"><img src="../assets/img/photography/france/blueinlasttownThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Citystairs.jpg"><img src="../assets/img/photography/france/CitystairsThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/hillstreetinparis.jpg"><img src="../assets/img/photography/france/hillstreetinparisThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Latin.jpg"><img src="../assets/img/photography/france/LatinThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/ThePantheon.jpg"><img src="../assets/img/photography/france/ThePantheonThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/TheWAlkers.jpg"><img src="../assets/img/photography/france/TheWAlkersThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Metrofromthecrowdedstreet.jpg"><img src="../assets/img/photography/france/MetrofromthecrowdedstreetThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8538.jpg"><img src="../assets/img/photography/france/IMG_8538Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8574.jpg"><img src="../assets/img/photography/france/IMG_8574Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8575.jpg"><img src="../assets/img/photography/france/IMG_8575Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8578.jpg"><img src="../assets/img/photography/france/IMG_8578Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/PinksPlace.jpg"><img src="../assets/img/photography/france/PinksPlaceThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/IMG_8580.jpg"><img src="../assets/img/photography/france/IMG_8580Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/InsideGordes.jpg"><img src="../assets/img/photography/france/InsideGordesThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/lookingin.jpg"><img src="../assets/img/photography/france/lookinginThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/redcafe.jpg"><img src="../assets/img/photography/france/redcafeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/justokay.jpg"><img src="../assets/img/photography/france/justokayThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/redshopinMonmart.jpg"><img src="../assets/img/photography/france/redshopinMonmartThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/InsideArena.jpg"><img src="../assets/img/photography/france/InsideArenaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/OOPS!.jpg"><img src="../assets/img/photography/france/OOPS!Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/wheelinchinatown1.jpg"><img src="../assets/img/photography/france/wheelinchinatown1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/pyrmadlouvelight.jpg"><img src="../assets/img/photography/france/pyrmadlouvelightThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/roots.jpg"><img src="../assets/img/photography/france/rootsThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Windowdepope.jpg"><img src="../assets/img/photography/france/WindowdepopeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/windowfromhotel.jpg"><img src="../assets/img/photography/france/windowfromhotelThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/kryptdepope.jpg"><img src="../assets/img/photography/france/kryptdepopeThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/McDonaldsinChina.jpg"><img src="../assets/img/photography/france/McDonaldsinChinaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Lonlyness.jpg"><img src="../assets/img/photography/france/LonlynessThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/france/Gordita.jpg"><img src="../assets/img/photography/france/GorditaThumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Five Points</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/fivepoints/IMG_1430.jpg"><img src="../assets/img/photography/fivepoints/IMG_1430Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1434.jpg"><img src="../assets/img/photography/fivepoints/IMG_1434Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1417.jpg"><img src="../assets/img/photography/fivepoints/IMG_1417Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1440.jpg"><img src="../assets/img/photography/fivepoints/IMG_1440Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1441.jpg"><img src="../assets/img/photography/fivepoints/IMG_1441Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1446.jpg"><img src="../assets/img/photography/fivepoints/IMG_1446Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1444.jpg"><img src="../assets/img/photography/fivepoints/IMG_1444Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1459.jpg"><img src="../assets/img/photography/fivepoints/IMG_1459Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1468.jpg"><img src="../assets/img/photography/fivepoints/IMG_1468Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1475.jpg"><img src="../assets/img/photography/fivepoints/IMG_1475Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1462.jpg"><img src="../assets/img/photography/fivepoints/IMG_1462Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1463.jpg"><img src="../assets/img/photography/fivepoints/IMG_1463Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1432.jpg"><img src="../assets/img/photography/fivepoints/IMG_1432Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1431.jpg"><img src="../assets/img/photography/fivepoints/IMG_1431Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1424.jpg"><img src="../assets/img/photography/fivepoints/IMG_1424Thumb.jpg"></a></li>
    </ul>
  </div>
  <h3>New York City</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/newyorkcity/IMG_1560.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1560Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1564.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1564Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1586.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1586Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1592.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1592Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1594.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1594Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1604.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1604Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1609.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1609Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1613.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1613Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1570.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1570Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1611.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1611Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1584.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1584Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1587.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1587Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1572.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1572Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1577.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1577Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1509.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1509Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1510.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1510Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1520.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1520Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1519.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1519Thumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Clay People</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/claypeople/clay01.jpg"><img src="../assets/img/photography/claypeople/clay01Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay02.jpg"><img src="../assets/img/photography/claypeople/clay02Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay03.jpg"><img src="../assets/img/photography/claypeople/clay03Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay04.jpg"><img src="../assets/img/photography/claypeople/clay04Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay05.jpg"><img src="../assets/img/photography/claypeople/clay05Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay06.jpg"><img src="../assets/img/photography/claypeople/clay06Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay07.jpg"><img src="../assets/img/photography/claypeople/clay07Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay08.jpg"><img src="../assets/img/photography/claypeople/clay08Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay09.jpg"><img src="../assets/img/photography/claypeople/clay09Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay10.jpg"><img src="../assets/img/photography/claypeople/clay10Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay11.jpg"><img src="../assets/img/photography/claypeople/clay11Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay13.jpg"><img src="../assets/img/photography/claypeople/clay13Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay14.jpg"><img src="../assets/img/photography/claypeople/clay14Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay15.jpg"><img src="../assets/img/photography/claypeople/clay15Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay16.jpg"><img src="../assets/img/photography/claypeople/clay16Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay17.jpg"><img src="../assets/img/photography/claypeople/clay17Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay20.jpg"><img src="../assets/img/photography/claypeople/clay20Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay21.jpg"><img src="../assets/img/photography/claypeople/clay21Thumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Blues</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/Blues/jessie1.jpg"><img src="../assets/img/photography/Blues/jessie1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/jessieally.jpg"><img src="../assets/img/photography/Blues/jessieallyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/jessiesit.jpg"><img src="../assets/img/photography/Blues/jessiesitThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/jnightsit.jpg"><img src="../assets/img/photography/Blues/jnightsitThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/thestage.jpg"><img src="../assets/img/photography/Blues/thestageThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/joela.jpg"><img src="../assets/img/photography/Blues/joelaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/megan1.jpg"><img src="../assets/img/photography/Blues/megan1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/megansink.jpg"><img src="../assets/img/photography/Blues/megansinkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/sink2.jpg"><img src="../assets/img/photography/Blues/sink2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/DarkhouseM2.jpg"><img src="../assets/img/photography/Blues/DarkhouseM2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/parkingd.jpg"><img src="../assets/img/photography/Blues/parkingdThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/Bob22.gif"><img src="../assets/img/photography/Blues/Bob22Thumb.gif"></a></li>
    </ul>
  </div>
  <h3>Trey</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/trey/Trey1.jpg"><img src="../assets/img/photography/trey/Trey1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/trey/Trey2.jpg"><img src="../assets/img/photography/trey/Trey2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/trey/Trey3.jpg"><img src="../assets/img/photography/trey/Trey3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/trey/Trey4.jpg"><img src="../assets/img/photography/trey/Trey4Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/trey/Trey5.jpg"><img src="../assets/img/photography/trey/Trey5Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/trey/Trey6.jpg"><img src="../assets/img/photography/trey/Trey6Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/trey/Trey7.jpg"><img src="../assets/img/photography/trey/Trey7Thumb.jpg"></a></li>
    </ul>
  </div>
  <h3>Street</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/street/StandardofLiving.jpg"><img src="../assets/img/photography/street/StandardofLivingThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Savannah.jpg"><img src="../assets/img/photography/street/SavannahThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Raleigh1.jpg"><img src="../assets/img/photography/street/Raleigh1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Raleigh2.jpg"><img src="../assets/img/photography/street/Raleigh2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Sax.jpg"><img src="../assets/img/photography/street/SaxThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Charleston.jpg"><img src="../assets/img/photography/street/CharlestonThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Guitar.jpg"><img src="../assets/img/photography/street/GuitarThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/NateDawg.jpg"><img src="../assets/img/photography/street/NateDawgThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/I402.jpg"><img src="../assets/img/photography/street/I402Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/I401.jpg"><img src="../assets/img/photography/street/I401Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/I403.jpg"><img src="../assets/img/photography/street/I403Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/Trey.jpg"><img src="../assets/img/photography/street/TreyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/GasMask.jpg"><img src="../assets/img/photography/street/GasMaskThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/CoffeandCigarets.jpg"><img src="../assets/img/photography/street/CoffeandCigaretsThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/street/PoliceCar.jpg"><img src="../assets/img/photography/street/PoliceCarThumb.jpg"></a></li>
    </ul>
  </div>
</div>