<div id="reel">

  <video controls>
    <source src="video/Reel_KH_2015-SD.mp4" type="video/mp4">
  </video>
  <br>
  <br>
  <a href="https://vimeo.com/142090803" target="_blank">View reel on Vimeo</a>

</div>
