---
layout: photography
title: Kyle Humphrey - Photography - Blues
---

<div id="photography" class="photography-category">
  <h2>Photography</h2>
  <h3>Blues</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/Blues/jessie1.jpg"><img src="../assets/img/photography/Blues/jessie1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/jessieally.jpg"><img src="../assets/img/photography/Blues/jessieallyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/jessiesit.jpg"><img src="../assets/img/photography/Blues/jessiesitThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/jnightsit.jpg"><img src="../assets/img/photography/Blues/jnightsitThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/thestage.jpg"><img src="../assets/img/photography/Blues/thestageThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/joela.jpg"><img src="../assets/img/photography/Blues/joelaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/megan1.jpg"><img src="../assets/img/photography/Blues/megan1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/megansink.jpg"><img src="../assets/img/photography/Blues/megansinkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/sink2.jpg"><img src="../assets/img/photography/Blues/sink2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/DarkhouseM2.jpg"><img src="../assets/img/photography/Blues/DarkhouseM2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/parkingd.jpg"><img src="../assets/img/photography/Blues/parkingdThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/Blues/Bob22.gif"><img src="../assets/img/photography/Blues/Bob22Thumb.gif"></a></li>
    </ul>
  </div>
</div>



