---
layout: photography
title: Kyle Humphrey - Photography - Clay People
---

<div id="photography" class="photography-category">
  <h2>Photography</h2>
  <h3>Clay People</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/claypeople/clay01.jpg"><img src="../assets/img/photography/claypeople/clay01Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay02.jpg"><img src="../assets/img/photography/claypeople/clay02Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay03.jpg"><img src="../assets/img/photography/claypeople/clay03Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay04.jpg"><img src="../assets/img/photography/claypeople/clay04Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay05.jpg"><img src="../assets/img/photography/claypeople/clay05Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay06.jpg"><img src="../assets/img/photography/claypeople/clay06Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay07.jpg"><img src="../assets/img/photography/claypeople/clay07Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay08.jpg"><img src="../assets/img/photography/claypeople/clay08Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay09.jpg"><img src="../assets/img/photography/claypeople/clay09Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay10.jpg"><img src="../assets/img/photography/claypeople/clay10Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay11.jpg"><img src="../assets/img/photography/claypeople/clay11Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay13.jpg"><img src="../assets/img/photography/claypeople/clay13Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay14.jpg"><img src="../assets/img/photography/claypeople/clay14Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay15.jpg"><img src="../assets/img/photography/claypeople/clay15Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay16.jpg"><img src="../assets/img/photography/claypeople/clay16Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay17.jpg"><img src="../assets/img/photography/claypeople/clay17Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay20.jpg"><img src="../assets/img/photography/claypeople/clay20Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/claypeople/clay21.jpg"><img src="../assets/img/photography/claypeople/clay21Thumb.jpg"></a></li>
    </ul>
  </div>
</div>


