---
layout: photography
title: Kyle Humphrey - Photography - Five Points
---

<div id="photography" class="photography-category">
  <h2>Photography</h2>
  <h3>Five Points</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/fivepoints/IMG_1430.jpg"><img src="../assets/img/photography/fivepoints/IMG_1430Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1434.jpg"><img src="../assets/img/photography/fivepoints/IMG_1434Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1417.jpg"><img src="../assets/img/photography/fivepoints/IMG_1417Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1440.jpg"><img src="../assets/img/photography/fivepoints/IMG_1440Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1441.jpg"><img src="../assets/img/photography/fivepoints/IMG_1441Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1446.jpg"><img src="../assets/img/photography/fivepoints/IMG_1446Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1444.jpg"><img src="../assets/img/photography/fivepoints/IMG_1444Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1459.jpg"><img src="../assets/img/photography/fivepoints/IMG_1459Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1468.jpg"><img src="../assets/img/photography/fivepoints/IMG_1468Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1475.jpg"><img src="../assets/img/photography/fivepoints/IMG_1475Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1462.jpg"><img src="../assets/img/photography/fivepoints/IMG_1462Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1463.jpg"><img src="../assets/img/photography/fivepoints/IMG_1463Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1432.jpg"><img src="../assets/img/photography/fivepoints/IMG_1432Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1431.jpg"><img src="../assets/img/photography/fivepoints/IMG_1431Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/fivepoints/IMG_1424.jpg"><img src="../assets/img/photography/fivepoints/IMG_1424Thumb.jpg"></a></li>
    </ul>
  </div>
</div>


