---
layout: photography
title: Kyle Humphrey - Photography - New York City
---

<div id="photography" class="photography-category">
  <h2>Photography</h2>
  <h3>New York City</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li class="clearing-featured-img"><a href="../assets/img/photography/newyorkcity/IMG_1560.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1560Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1564.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1564Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1586.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1586Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1592.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1592Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1594.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1594Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1604.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1604Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1609.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1609Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1613.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1613Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1570.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1570Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1611.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1611Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1584.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1584Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1587.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1587Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1572.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1572Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1577.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1577Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1509.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1509Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1510.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1510Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1520.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1520Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/newyorkcity/IMG_1519.jpg"><img src="../assets/img/photography/newyorkcity/IMG_1519Thumb.jpg"></a></li>
    </ul>
  </div>
</div>


