---
layout: photography
title: Kyle Humphrey - Photography - Portraits
---

<div id="photography" class="photography-category">
  <h2>Photography</h2>
  <h3>Portraits</h3>
  <div class="row">
    <ul class="clearing-thumbs " data-clearing>
      <li><a href="../assets/img/photography/portraits/EvDark.jpg"><img src="../assets/img/photography/portraits/EvDarkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Ev2Dark.jpg"><img src="../assets/img/photography/portraits/Ev2DarkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/jessieDipt.jpg"><img src="../assets/img/photography/portraits/jessieDiptThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/jessie1.jpg"><img src="../assets/img/photography/blues/jessie1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/jnightsit.jpg"><img src="../assets/img/photography/blues/jnightsitThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/blue.jpg"><img src="../assets/img/photography/purples/blueThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/bluegirl1.jpg"><img src="../assets/img/photography/purples/bluegirl1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/megan1.jpg"><img src="../assets/img/photography/blues/megan1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/megansink.jpg"><img src="../assets/img/photography/blues/megansinkThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/blues/sink2.jpg"><img src="../assets/img/photography/blues/sink2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/purple.jpg"><img src="../assets/img/photography/purples/purpleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/purples/blueladie3.jpg"><img src="../assets/img/photography/purples/blueladie3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Grandma.jpg"><img src="../assets/img/photography/portraits/GrandmaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/mob2/Mob5.jpg"><img src="../assets/img/photography/mob2/Mob5Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Muse.jpg"><img src="../assets/img/photography/portraits/MuseThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Anushka.jpg"><img src="../assets/img/photography/portraits/AnushkaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Hanna.jpg"><img src="../assets/img/photography/portraits/HannaThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Hanna3.jpg"><img src="../assets/img/photography/portraits/Hanna3Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/fONZ1.jpg"><img src="../assets/img/photography/savannah/fONZ1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Ted.jpg"><img src="../assets/img/photography/savannah/TedThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Alex1.jpg"><img src="../assets/img/photography/savannah/Alex1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Alex2.jpg"><img src="../assets/img/photography/savannah/Alex2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Ben1.jpg"><img src="../assets/img/photography/savannah/Ben1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Ben2.jpg"><img src="../assets/img/photography/savannah/Ben2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Tatoo.jpg"><img src="../assets/img/photography/savannah/TatooThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/savannah/Paul.jpg"><img src="../assets/img/photography/savannah/PaulThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/ThirdCircle.jpg"><img src="../assets/img/photography/portraits/ThirdCircleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Harmony.jpg"><img src="../assets/img/photography/portraits/HarmonyThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Discordant.jpg"><img src="../assets/img/photography/portraits/DiscordantThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Calvin.jpg"><img src="../assets/img/photography/portraits/CalvinThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Nate.jpg"><img src="../assets/img/photography/portraits/NateThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Matt.jpg"><img src="../assets/img/photography/portraits/MattThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Matt2.jpg"><img src="../assets/img/photography/portraits/Matt2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Thomas2.jpg"><img src="../assets/img/photography/portraits/Thomas2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Trey1.jpg"><img src="../assets/img/photography/portraits/Trey1Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Trey2.jpg"><img src="../assets/img/photography/portraits/Trey2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Luis2.jpg"><img src="../assets/img/photography/portraits/Luis2Thumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Pablo.jpg"><img src="../assets/img/photography/portraits/PabloThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Jester.jpg"><img src="../assets/img/photography/portraits/JesterThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Marsh.jpg"><img src="../assets/img/photography/portraits/MarshThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Luis.jpg"><img src="../assets/img/photography/portraits/LuisThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Kyle.jpg"><img src="../assets/img/photography/portraits/KyleThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Gramm.jpg"><img src="../assets/img/photography/portraits/GrammThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Ghost.jpg"><img src="../assets/img/photography/portraits/GhostThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Henry.jpg"><img src="../assets/img/photography/portraits/HenryThumb.jpg"></a></li>
      <li><a href="../assets/img/photography/portraits/Thomas.jpg"><img src="../assets/img/photography/portraits/ThomasThumb.jpg"></a></li>
    </ul>
  </div>
</div>
