<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
         <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,700">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/foundation-icons.css" />
        <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/app.css">
        
        <script src="/js/vendor/modernizr.js"></script>

    </head>
    <body> 

        <div class="site">

          {% include nav.html %}
          
          {{ content }}

          <div class="footer">
          </div>
        </div>
      
      <script src="/js/vendor/jquery.js"></script>
      <script src="/js/foundation.min.js"></script>
      <script src="/js/foundation/foundation.clearing.js"></script>
      <script src="/assets/owl-carousel/owl.carousel.js"></script>
      <script>
        $(document).ready(function(){
          $('.frozen-owl-carousel').owlCarousel({
            navigation: true,
            singleItem: true,
          });
        });
        $(document).foundation();
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push([\'_setAccount\', \'UA-36240717-1\']);
        _gaq.push([\'_trackPageview\']);
        (function() {
          var ga = document.createElement(\'script\'); ga.type = \'text/javascript\'; ga.async = true;
          ga.src = (\'https:\' == document.location.protocol ? \'https://ssl\' : \'http://www\') + \'.google-analytics.com/ga.js\';
          var s = document.getElementsByTagName(\'script\')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>'

    </body>
</html>
